@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

/* @layer utilities {
    .is-customized {
        color: white;
        background-color: #7F659C;
    }

    .el-popper.is-customized .el-popper__arrow::before {
        background-color: #7F659C;
        right: 0;
      }
} */
@layer utilities{
    .input {
        @apply h-9 w-full bg-transparent rounded-full border placeholder:text-gray99 border-[#D9D9D9] text-gray-600 text-sm focus:ring-0 focus:border-primary block p-2.5 disabled:cursor-not-allowed disabled:bg-gray-200 disabled:placeholder:text-gray-500;
    }
}
